* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100svh;
  display: grid;
  align-content: center;
  justify-content: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main {
  padding-inline: 3rem;
}

main p {
  letter-spacing: .15rem;
  font-weight: 500;
  line-height: 1.5;
}

main .word {
  padding-block: 0 1rem;
}

main .figure {
  padding-block: 0 .6rem;
}

footer {
  text-align: center;
}

footer p {
  left: 50%;
  bottom: 3%;
  opacity: .5;
  font-size: .9rem;
  padding: 1.2rem;
  position: absolute;
  translate: -50% -50%;
}
